
<div>
    <h1>
        This is <%= title %> Page
    </h1>
    <h3> Use /user for user rating page  and rating of rider will update in the riderdatabase</h3>
    <h3> Use /rider for rider rating page  and rating of user will update in the userdatabase</h3>

</div>